.vs/SAT/v16/Server/sqlite3/storage.ide-wal
.vs/SAT/config/applicationhost.config
.vs/SAT/v16/Server/sqlite3/db.lock
.vs/SAT/v16/Server/sqlite3/storage.ide
.vs/SAT/v16/Server/sqlite3/storage.ide-shm
.vs/SAT/v16/.suo
SAT_CL/bin/
SAT_CL/obj/
SAT_NISSAN/bin/
SAT_NISSAN/obj/
SAT_WA/bin/
SAT_WA/obj/
SAT_WCF/bin/
SAT_WCF/obj/
SAT_RS/bin/
.vs/
SAT_RS/SAT_RS.rptproj.rsuser
