.vs/SAT/v16/Server/sqlite3/storage.ide-wal
.vs/SAT/config/applicationhost.config
.vs/SAT/v16/Server/sqlite3/db.lock
.vs/SAT/v16/Server/sqlite3/storage.ide
.vs/SAT/v16/Server/sqlite3/storage.ide-shm
SAT_CL/obj/Release/SAT_CL.csprojAssemblyReference.cache
SAT_NISSAN/obj/Release/SAT_NISSAN.csprojAssemblyReference.cache
SAT_WA/obj/Release/SAT_WA.csprojAssemblyReference.cache
SAT_WCF/obj/Release/SAT_WCF.csprojAssemblyReference.cache
SAT_RS/bin/Release/ActividadUnidadDia.rdl
SAT_RS/bin/Release/ActualizacionUsuarioDia.rdl
SAT_RS/bin/Release/Axejit_Almacen.rdl
SAT_RS/bin/Release/AXEJIT_HorasDescansoOperador.rdl
SAT_RS/bin/Release/Axejit_IndicadoresCobranza.rdl
SAT_RS/bin/Release/Axejit_IndicadoresGenerales.rdl
SAT_RS/bin/Release/Axejit_IngresoxUnidad.rdl
SAT_RS/bin/Release/Axejit_KilometrajePorCobrar.rdl
SAT_RS/bin/Release/Axejit_PocesoCxCPeriodo.rdl
SAT_RS/bin/Release/Axejit_ProcesoCxCCliente.rdl
SAT_RS/bin/Release/AXEJIT_ReporteRendimientoDiesel.rdl
SAT_RS/bin/Release/Axejit_UnidadesEstancia.rdl
SAT_RS/bin/Release/AXEJIT_WalmartPagoxKilometraje.rdl
SAT_RS/bin/Release/AXEJIT_WalmartPagoxServicio.rdl
SAT_RS/bin/Release/BalanceUnidades.rdl
SAT_RS/bin/Release/build.obj
SAT_RS/bin/Release/ds_global.sp_compania_reporte_catalogo_tcrc.rsd
SAT_RS/bin/Release/EstanciaUnidadUbicacion.rdl
SAT_RS/bin/Release/ETVU_ReporteServicioTerceros.rdl
SAT_RS/bin/Release/ETVU_ReporteUtilidadServicios.rdl
SAT_RS/bin/Release/FacturaGlobalDetalles.rdl
SAT_RS/bin/Release/GENERALES_BalanceUnidades.rdl
SAT_RS/bin/Release/GENERALES_CargasDia.rdl
SAT_RS/bin/Release/GENERALES_DescargasDia.rdl
SAT_RS/bin/Release/GENERALES_FacturacionGlobalCxC.rdl
SAT_RS/bin/Release/GENERALES_FacturacionServiciosCxC.rdl
SAT_RS/bin/Release/GENERALES_IndicadoresCobranza.rdl
SAT_RS/bin/Release/GENERALES_IndicadoresGenerales.rdl
SAT_RS/bin/Release/GENERALES_IngresoUnidadDetalle.rdl
SAT_RS/bin/Release/GENERALES_IngresoxUnidad.rdl
SAT_RS/bin/Release/GENERALES_OnTime.rdl
SAT_RS/bin/Release/GENERALES_OntimeCliente.rdl
SAT_RS/bin/Release/GENERALES_PocesoCxCPeriodo.rdl
SAT_RS/bin/Release/GENERALES_ProcesoCxCCliente.rdl
SAT_RS/bin/Release/GENERALES_RendimientoUnidades.rdl
SAT_RS/bin/Release/GENERALES_UbicacionRemolques.rdl
SAT_RS/bin/Release/GENERALES_UbicacionTractores.rdl
SAT_RS/bin/Release/GROCHA_ReporteILN.rdl
SAT_RS/bin/Release/GROCHA_ReporteServiciosA1A2.rdl
SAT_RS/bin/Release/GROCHA_ReporteServiciosBoshPorFechas.rdl
SAT_RS/bin/Release/IndicadoresGenerales.rdl
SAT_RS/bin/Release/IngresoxUnidad.rdl
SAT_RS/bin/Release/IngresoxUnidadCliente_TEM.rdl
SAT_RS/bin/Release/KilometrajePorCobrar.rdl
SAT_RS/bin/Release/MantenimientoPreventivoUnidades.rdl
SAT_RS/bin/Release/MonitoreoUnidadDia.rdl
SAT_RS/bin/Release/OntimeCliente.rdl
SAT_RS/bin/Release/PocesoCxCPeriodo.rdl
SAT_RS/bin/Release/ProcesoCxCCliente.rdl
SAT_RS/bin/Release/RendimientoUnidades.rdl
SAT_RS/bin/Release/ServiciosUnidad.rdl
SAT_RS/bin/Release/TECTOS_SAT_AZTLAN_SERVERIS.rds
SAT_RS/bin/Release/TECTOS_SAT_NEXTIA_SERVERIS.rds
SAT_RS/bin/Release/TEM_CargasDia.rdl
SAT_RS/bin/Release/TEM_DescargasDia.rdl
SAT_RS/bin/Release/TEM_EstatusServicios.rdl
SAT_RS/bin/Release/TEM_HistorialOperador.rdl
SAT_RS/bin/Release/TEM_OnTime.rdl
SAT_RS/bin/Release/TEM_ReporteCelaya.rdl
SAT_RS/bin/Release/TEM_UbicacionRemolques.rdl
SAT_RS/bin/Release/TEM_UbicacionTractores.rdl
SAT_RS/bin/Release/ViajesDiaUnidad.rdl
