<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <!-- <add name="TECTOS_SAT_db" connectionString="server=TECTOS2014,1433\TECTOS_SERVER; database=TECTOS_SAT_db; uid=sa; pwd=TECtos123;"/>-->
    <!--<add name="TECTOS_SAT_db" connectionString="Data Source=localhost;Initial Catalog=TECTOS_SAT_db;Integrated Security=false;User ID=tectos_admin;Password=TECtos123" />-->
    <!-- Conexión a servidor Tectos2014 BD Producción AZTLAN -->
    <!--<add name="TECTOS_SAT_db" connectionString="server=TECTOS2014,1433\TECTOS_SERVER; database=TECTOS_SAT_AZTLAN_db; uid=TECTOSAdmin; pwd=psswrd14TECTOS;" />-->
    <!-- Conexión a servidor Serveris BD Producción AZTLAN -->
    <!--<add name="TECTOS_SAT_db" connectionString="server=db.serveris.com,9344; database=TECTOS_SAT_AZTLAN_db; uid=TECTOSAdmin; pwd=Im@gIn@tI0n_m0r3-Imp0rt@nt_th@n_kn0wl3dg3;" />-->
    <!-- Conexión a servidor Serveris BD Producción NEXTIA -->
    <!--<add name="TECTOS_SAT_db" connectionString="server=db.serveris.com,9344; database=TECTOS_SAT_NEXTIA_db; uid=TECTOSAdmin; pwd=Im@gIn@tI0n_m0r3-Imp0rt@nt_th@n_kn0wl3dg3;" />-->
    <!-- Conexión a servidor Serveris BD Producción AZTLAN - DC10058 -->
    <add name="TECTOS_SAT_db" connectionString="server=38.110.58.15; database=TECTOS_SAT_AZTLAN_db; uid=TECTOSAdmin; pwd=psswrd20TECTOS;" />
    <!-- Conexión a servidor Serveris BD Producción NEXTIA - DC10058 -->
    <!--<add name="TECTOS_SAT_db" connectionString="server=38.110.58.15; database=TECTOS_SAT_NEXTIA_db; uid=TECTOSAdmin; pwd=psswrd20TECTOS;" />-->
    <!-- Conexión a servidor Serveris BD Producción TEST - s16158 -->
    <!--<add name="TECTOS_SAT_db" connectionString="server=38.101.223.59; database=TECTOS_SAT_TEST_db; uid=TECTOSAdmin; pwd=*Im@gIn@tI0n_m0r3-Imp0rt@nt_th@n_kn0wl3dg3*;" />-->
  </connectionStrings>
  <system.web>
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Configurando direccionamiento personalizado de ensamblados a los que depende la aplicación -->
      <dependentAssembly>
        <!-- Tipos de SQL Server Default V10.0.0.0, requerida V11.0.0.0 -->
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="MobileServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="MobileServiceSettings" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MobileServiceBehavior" name="SAT_WCF.MobileService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MobileServiceSettings" contract="SAT_WCF.IMobileService" />
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="MetadataEndpoint"/>-->
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://www.administratransportefacil.com/SAT_NEXTIA_WCF/" />-->
            <add baseAddress="http://www.administratransportefacil.com/SAT_AZTLAN_WCF/" />
          </baseAddresses>
        </host>
      </service>
      <!-- Servicio para las Acciones de Usuario -->
      <service behaviorConfiguration="MobileServiceBehavior" name="SAT_WCF.Seguridad.Usuario">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MobileServiceSettings" contract="SAT_WCF.Seguridad.IUsuario" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://www.administratransportefacil.com/SAT_NEXTIA_WCF/Seguridad/" />-->
            <add baseAddress="http://www.administratransportefacil.com/SAT_AZTLAN_WCF/Seguridad/" />
          </baseAddresses>
        </host>
      </service>
      <!-- Servicio para las Acciones de Despacho -->
      <service behaviorConfiguration="MobileServiceBehavior" name="SAT_WCF.Operacion.Despacho">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MobileServiceSettings" contract="SAT_WCF.Operacion.IDespacho" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://www.administratransportefacil.com/SAT_NEXTIA_WCF/Operacion/" />-->
            <add baseAddress="http://www.administratransportefacil.com/SAT_AZTLAN_WCF/Operacion/" />
          </baseAddresses>
        </host>
      </service>
      <!-- Servicio para las Acciones de Herramientas Movil -->
      <service behaviorConfiguration="MobileServiceBehavior" name="SAT_WCF.HerramientasMovil">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="MobileServiceSettings" contract="SAT_WCF.IHerramientasMovil" />
        <host>
          <baseAddresses>
            <!--<add baseAddress="http://www.administratransportefacil.com/SAT_NEXTIA_WCF/" />-->
            <add baseAddress="http://www.administratransportefacil.com/SAT_AZTLAN_WCF/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>