.validationGroup {
border: none;
}
.columna
{
margin:0px;
padding:0px;
width:320px;  
float:left;
       
}
.columna2x
{
margin:0px;
padding:0px;
width:480px;  
float:left;    
}
.columna2x_sin_float
{
margin:0px;
padding:0px;
width:480px;
height:auto;          
}
.columna3x
{
margin:0px;
padding:0px;
width:620px;  
float:left;    
}
.columna4x
{
margin:0px;
padding:0px;
width:760px;  
float:left;    
}
.columna5x {
margin: 0px;
padding: 0px;
width: 920px;
float: left;
}
.columna550px
{
margin:0px;
padding:0px;
width:550px;  
float:left;    
}

.renglon
{
margin:0px;
padding:0px;
width:315px;
height:25px;
}
.renglon2x
{
margin:0px;
padding:0px;
width:475px;
height:25px;     
}

.renglon2x_35h
{
padding:0px;
width:475px;
height:35px; 
float:left;
}

.renglon100Per
{
margin:0px;
margin-top: 2px;
margin-left:25px;
padding:0px;
width:100%;
height:35px; 
float:left;    
}
.renglon75Per
{
margin-left:15px;
padding:0px;
width:75%;
height:35px; 
float:left;    
}
.renglon3x
{
margin:0px;
margin-top:2px;
padding:0px;
width:635px;
height:25px;
}
.renglon4x
{
margin:0px;
margin-top:2px;
padding:0px;
width:765px;
height:25px;
}
.renglon_boton
{
    margin:0px;
padding:0px;
width:410px;
height:25px;
}

.etiqueta
{
margin:0px;
padding:5px 0px 0px 5px;
width:100px;
height:18px;
float:left;
   
}
.etiqueta_100pxr
{
margin:0px;
padding:5px 0px 0px 5px;
width:100px;
height:18px;
float:right;
}
.etiqueta_50px
{
margin:0px;
padding:5px 0px 0px 5px;
width:60px;
height:18px;
float:left;
}
.etiqueta_50pxr
{
margin:0px;
padding:5px 0px 0px 0px;
width:60px;
height:18px;
float:right;
}
.etiqueta_80px
{
margin:0px;
padding:5px 0px 0px 5px;
width:80px;
height:18px;
float:left;
}
.etiqueta_80pxr
{
margin:0px;
padding:5px 0px 0px 0px;
width:80px;
height:18px;
float:right;
}
.etiqueta_155px
{
margin:0px;
padding:5px 0px 0px 5px;
width:155px;
height:18px;
float:left;
    
}
.etiqueta_155pxr
{
margin:0px;
padding:5px 0px 0px 5px;
width:155px;
height:18px;
float:right;
    
}
.etiqueta_200px
{
margin:0px;
padding:5px 0px 0px 5px;
width:200px;
height:18px;
float:left;
    
}
.etiqueta_200pxr
{
margin:0px;
padding:5px 0px 0px 5px;
width:200px;
height:18px;
float:right;
    
}
.etiqueta_320px
{
margin:0px;
padding:5px 0px 0px 0px;
width:300px;
height:18px;
float:left;
   
}
.etiqueta_400px
{
margin:0px;
padding:5px 0px 0px 5px;
width:400px;
height:18px;
float:left;
}
.control
{
width:155px;
height:23px;
float:left;
}
.control2x
{
width:310px;
height:23px;
float:left;
}
.controlr
{
width:160px;
height:23px;
float:right;  
}
.control_60px
{
width:60px;
height:23px;
float:left;
       
}
.control_60pxr
{
width:60px;
height:23px;
float:right;
}
.control_80px
{
width:80px;
height:23px;
float:left;
}
.control_80pxr
{
width:80px;
height:23px;
float:right;
}
.control_100px
{
width:100px;
height:23px;
float:left;
    
}
.control_100pxr
{
width:100px;
height:23px;
float:right;
    
}
.control_200px {
width: 200px;
height: 23px;
float: left;
}

.control_200pxr {
width: 200px;
height: 23px;
float: right;
}
.control2xr
{
width:320px;
height:23px;
float:right;
}
.controlBoton
{
width:100px;
height:30px;
float:right;    
}
.validador 
{
width:40px;
height:23px;
float:left;
}
.label_error
{
margin:0px;
padding:0px;    
color:#DE0000;
font-weight:bold;
font-style:italic;  
}
.label_correcto
{
margin:0px;
padding:0px;    
color:#04A42C;
font-weight:bold;
font-style:italic;  
}
.label
{
margin:0px;      
padding:0px;    
vertical-align:top;      
}
.label_negrita
{
margin:0px;      
padding:0px;    
vertical-align:top;
font-weight:bold;   
}
.textbox 
{
margin:0px;
padding:2px 0px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:145px;
font: normal 12px calibri;
}
.textbox2x
{
margin:0px;
padding:2px 0px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:295px;
font: normal 12px calibri;
}

.textbox3x
{
margin:0px;
padding:2px 0px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:445px;
font: normal 12px calibri;
}
.textbox_30px
{
margin:0px;
padding:2px 0px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:30px;
font: normal 12px calibri;
}
.textbox_50px
{
margin:0px;
padding:2px 0px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:50px;
font: normal 12px calibri;
}
.textbox_100px
{
margin:0px;
padding:2px 0px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:90px;
font: normal 12px calibri;
}
.textbox_200px {
    margin: 0px;
    padding: 2px 0px 2px 5px;
    border: 1px solid #DDD;
    border-radius: 5px;
    width: 190px;
    font: normal 12px calibri;
}
.textbox_240px
{
margin:0px;
padding:2px 0px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:240px;
font: normal 12px calibri;
}



.dropdown
{
margin:0px;
padding:2px 5px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:145px;
font: normal 12px calibri;
}

.dropdown2x
{
margin:0px;
padding:2px 5px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:300px;
font: normal 12px calibri;
}

.dropdown3x
{
margin:0px;
padding:2px 5px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:445px;
font: normal 12px calibri;
}
.dropdown_60px
{
margin:0px;
padding:2px 5px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:55px;
font: normal 12px calibri;
}
.dropdown_80px
{
margin:0px;
padding:2px 5px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:75px;
font: normal 12px calibri;
}
.dropdown_100px
{
margin:0px;
padding:2px 5px 2px 5px;
border: 1px solid #DDD;
border-radius: 5px;
width:95px;
font: normal 12px calibri;
}
.dropdown_200px {
    margin: 0px;
    padding: 2px 5px 2px 5px;
    border: 1px solid #DDD;
    border-radius: 5px;
    width: 195px;
    font: normal 12px calibri;
}
.boton {
-moz-box-shadow:inset 0px 1px 9px 0px #d9fbbe;
-webkit-box-shadow:inset 0px 1px 9px 0px #d9fbbe;
box-shadow:inset 0px 1px 9px 0px #d9fbbe;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
background-color:#b8e356;
-webkit-border-top-left-radius:5px;
-moz-border-radius-topleft:5px;
border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-radius-topright:5px;
border-top-right-radius:5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-radius-bottomright:5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-left-radius:5px;
text-indent:0;
border:1px solid #83c41a;
display:inline-block;
color:#ffffff;
font-family:Trebuchet MS;
font-size:11px;
font-weight:normal;
font-style:normal;
height:30px;
line-height:30px;
width:90px;
text-decoration:none;
text-align:center;
text-shadow:1px 1px 0px #86ae47;
}
.boton:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
background-color:#a5cc52;
}.boton:active {
position:relative;
top:1px;
}

.boton2x {
-moz-box-shadow:inset 0px 1px 9px 0px #d9fbbe;
-webkit-box-shadow:inset 0px 1px 9px 0px #d9fbbe;
box-shadow:inset 0px 1px 9px 0px #d9fbbe;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
background-color:#b8e356;
-webkit-border-top-left-radius:5px;
-moz-border-radius-topleft:5px;
border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-radius-topright:5px;
border-top-right-radius:5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-radius-bottomright:5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-left-radius:5px;
text-indent:0;
border:1px solid #83c41a;
display:inline-block;
color:#ffffff;
font-family:Trebuchet MS;
font-size:11px;
font-weight:normal;
font-style:normal;
height:30px;
line-height:30px;
width:120px;
text-decoration:none;
text-align:center;
text-shadow:1px 1px 0px #86ae47;
}
.boton2x:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
background-color:#a5cc52;
}.boton2x:active {
position:relative;
top:1px;
}

.boton_pestana 
{
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
background-color:#ededed;
-webkit-border-top-left-radius:15px;
-moz-border-radius-topleft:15px;
border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-moz-border-radius-topright:15px;
border-top-right-radius:15px;
-webkit-border-bottom-right-radius:0px;
-moz-border-radius-bottomright:0px;
border-bottom-right-radius:0px;
-webkit-border-bottom-left-radius:0px;
-moz-border-radius-bottomleft:0px;
border-bottom-left-radius:0px;
text-indent:0;
border:1px solid #dcdcdc;
display:inline-block;
color:#777777;
font-family:Arial;
font-size:12px;
font-weight:bold;
font-style:normal;
height:30px;
line-height:30px;
width:150px;
text-decoration:none;
text-align:center;
text-shadow:1px 1px 0px #ffffff;
}
.boton_pestana:hover 
{
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
background-color:#dfdfdf;
}
.boton_pestana_activo
{
-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
box-shadow:inset 0px 1px 0px 0px #d9fbbe;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) );
background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52');
background-color:#b8e356;
-webkit-border-top-left-radius:15px;
-moz-border-radius-topleft:15px;
border-top-left-radius:15px;
-webkit-border-top-right-radius:15px;
-moz-border-radius-topright:15px;
border-top-right-radius:15px;
-webkit-border-bottom-right-radius:0px;
-moz-border-radius-bottomright:0px;
border-bottom-right-radius:0px;
-webkit-border-bottom-left-radius:0px;
-moz-border-radius-bottomleft:0px;
border-bottom-left-radius:0px;
text-indent:0;
border:1px solid #83c41a;
display:inline-block;
color:#ffffff;
font-family:Arial;
font-size:12px;
font-weight:bold;
font-style:normal;
height:30px;
line-height:30px;
width:150px;
text-decoration:none;
text-align:center;
text-shadow:1px 1px 0px #86ae47;
}
.boton_pestana_activo:hover 
{
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) );
background: -moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356');
background-color: #a5cc52;
}

 
.boton_cancelar 
{
-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
box-shadow:inset 0px 1px 0px 0px #ffffff;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
background-color:#f9f9f9;
-webkit-border-top-left-radius:5px;
-moz-border-radius-topleft:5px;
border-top-left-radius:5px;
-webkit-border-top-right-radius:5px;
-moz-border-radius-topright:5px;
border-top-right-radius:5px;
-webkit-border-bottom-right-radius:5px;
-moz-border-radius-bottomright:5px;
border-bottom-right-radius:5px;
-webkit-border-bottom-left-radius:5px;
-moz-border-radius-bottomleft:5px;
border-bottom-left-radius:5px;
text-indent:0px;
border:1px solid #dcdcdc;
display:inline-block;
color:#666666;
font-family:Trebuchet MS;
font-size:11px;
font-weight:normal;
font-style:normal;
height:30px;
line-height:30px;
width:90px;
text-decoration:none;
text-align:center;
text-shadow:1px 1px 0px #ffffff;
}
.boton_cancelar:hover 
{
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
background-color:#e9e9e9;
}
.boton_cancelar:active 
{
position:relative;
top:1px;
}
.boton_cancelar2x {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
    background: -moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
    background-color: #f9f9f9;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 0px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #666666;
    font-family: Trebuchet MS;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    height: 30px;
    line-height: 30px;
    width: 120px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
}

.boton_cancelar2x:hover {
background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
background: -moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
background-color: #e9e9e9;
}

.boton_cancelar2x:active {
position: relative;
top: 1px;
}

.gridview
{
    border: 1px solid #D0D0D0;     

}
.gridviewheader
{
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.gridviewheader a
{
    color:#505050;
    font-weight:bold;
    text-decoration:none;
}
.gridviewrow
{
    background-color:#FFF;
}
.gridviewrow:hover
{
    background-color:#FDFFA7;
    /*font-weight:bold;**/
}
.gridviewrow a
{
    color:#299FD5;
    /*font-weight:bold;**/
    text-decoration:underline;
}

.gridviewrowalternate
{
    background-color:#F2F2F2;
}

.gridviewrowalternate:hover
{
    background-color:#FDFFA7;
    /*font-weight:bold;**/
}
.gridviewrowalternate a
{
    color:#299FD5;
    /*font-weight:bold;**/
    text-decoration:underline;
}

.gridviewrowgroupheader
{
    background-color:#CCCCCC;
}

.gridviewrowgroupheader:hover
{
    background-color:#FDFFA7;
}
.gridviewrowgroupheader a
{
    color:#299FD5;
    text-decoration:underline;
}
.gridviewrowgroupfooter
{
    font-weight:bold;
}

.gridviewrowgroupfooter:hover
{
    background-color:#FDFFA7;
}

.gridviewfooter
{
background-color:gainsboro;
font-weight:bold;
color:gray;
}
.gridviewrowselected
{
    background-color:#FDFFA7;
    /*font-weight:bold;**/
}
.gridviewcellsortASC
{
    background-color:#D8F3D1;
}

.gridviewcellsortDESC
{
    background-color:#D2EAF7;
}

.gridview2
{
    border: 1px solid #D0D0D0; 
    font-weight:normal;   

}
.gridview2header
{
font-weight:normal;
color:#888;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.gridview2header a
{
    color:#888;
    font-weight:normal;
    text-decoration:none;
}
.gridview2row
{
    background-color:#DCFFC7;
     
}

.gridview2row:hover
{
    background-color:#DFF6FF;
    /*font-weight:bold;**/
}

.gridview2row:hover a 
{
color:#299FD5; 
}
.gridview2row a
{
    color:#7FB56C;
    /*font-weight:bold;**/
    text-decoration:underline;
}

.gridview2rowalternate
{
    background-color:#FFF;
}

.gridview2rowalternate:hover
{
    background-color:#DFF6FF;
    /*font-weight:bold;**/
}
.gridview2rowalternate a
{
color:#7FB56C;
    /*font-weight:bold;**/
    text-decoration:underline;
}

.gridview2row:hover a 
{
color:#299FD5; 
}

.gridview2footer
{
background-color:gainsboro;
font-weight:bold;
color:white;
}
.gridview2rowselected
{
    background-color:#FDFFA7;
    /*font-weight:bold;**/
}
 

.mapa 
{
margin: 0px;
margin-left:5%;
margin-top:20px;
margin-bottom:20px;
padding: 0px;
height: 500px;
width: 90%;
border: 1px solid #AAA;    
z-index: inherit;
}


.arbol
{
margin:0px;
padding:0px;
height:100%;
width:100%;
background-color:#FFF;
}
.nodoArbol
{
color: #666666;
font-size: 10pt;
}

.nodoArbolRaiz
{
font-weight: bold;
text-decoration: underline;
color: #01DF01;
}
.nodoArbolHoja1
{
font-weight: bold;
color: #429BBD;
}
.nodoArbolTocado
{
background-color: #FFFFDD;
border: 1px solid #CCCCCC;
font-weight: bold;
}
.nodoArbolSeleccionado
{
background-color: #FFFFDD;
border: 1px solid #CCCCCC;
font-weight: bold;
font-size: 11pt;
color: #DE0000;
}
.modal {
z-index: 1001;
display: none;
top: 0;
left: 0;
position: fixed;
width: 100%;
height: 100%;
background: rgba(49, 49, 49, 0.70);
}
.modalControlUsuario {
z-index: 1001;
display: none;
top: 0;
left: 0;
background: rgba(49, 49, 49, 0.70);
}
.boton_cerrar_modal 
{
margin:0px;   
margin-right:2px; 
margin-top:2px;
margin-bottom:2px;
padding:0px;
height:16px;
width:100%;  
float:right;
text-align:right;
}
.MenuContext
{
text-align:center;
border:solid;
border-color:#AFD581;
width:100px;
font:bold 12px 'Open Sans Condensed', sans-serif;
background-color:#F5F5F5;
z-index:9999;
}
.ContextItem
{
font:bold 12px 'Open Sans Condensed', sans-serif;
background-color:#F5F5F5;
color:black;
height:auto;
padding:5px;
z-index:9999;
}
.ContextItem a
{
color:#313131 !important;
text-decoration:none !important;
}
.ContextItem:hover
{
font:bold 12px 'Open Sans Condensed', sans-serif;
background-color:#AFD581;
color:#F5F5F5 !important;
text-decoration:none !important;
font-weight:bold;
z-index:9999;
}