.contenedor_identificadores
{
    margin:10px 0px 10px 0px;
    padding:0px;
    width:100%;
    height:60px;
    border-top: 1px solid #CECECE;
    /*border: 1px solid black;*/
}
.contenedor_identificadores article
{
    margin:5px 0px;
    padding:0px 5px;
    width:31%;
    height:40px;
    float:left;
    border-right:1px solid #CECECE;
}
.contenedor_identificadores article label
{
    margin:0px;
    padding:0px;
    width:100%;
    color:#111;
    font: normal 13px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    float:left;
}
.contenedor_identificadores article img
{
    float:left;
    margin:0px 5px 0px 0px;
}

.contenedor_origen_destino
{
    margin:0px 0px 10px 100px;
    padding:0px 0px;
    width:80%;
    height:155px;
    float:left;
    border-top: 1px solid #CECECE;
   /*border: 1px solid red;*/
}
.contenedor_origen_destino article
{
    margin:5px 2px;
    padding:0px;
    width:49%;
    height:97%;
    float:left;
    border-right:1px solid #CECECE;
    
}
.contenedor_origen_destino section
{
    margin:5px 2px;
    padding:0px;
    width:15%;
    height:97%;
    float:left;    
}
.etiqueta 
{
    margin:2px 0px;
    padding:0px;
}
.contenedor_origen_destino article h4
{
    margin:0px;
    padding:0px;
    width:70%;
    color:#111;
    font: normal 13px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    float:left;
}
.contenedor_origen_destino section h5
{
    margin:0px;
    padding:0px;
    width:100%;
    color:#111;
    font: normal 13px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    text-decoration:underline;
    float:left;
}
.contenedor_origen_destino article img 
{
    float:left;
}

.contenedor_cliente
{
    margin:0px 0px 10px 100px;
    padding:0px;
    width:80%;
    height:155px;
    float:left;
    border-top: 1px solid #CECECE;
    /*border: 1px solid green;*/
}
.contenedor_cliente article
{
    margin:5px 2px;
    padding:0px;
    width:49%;
    height:97%;
    float:left;
    border-right: 1px solid #CECECE;
}
.contenedor_cliente article h4
{
    margin:0px;
    padding:0px;
    width:70%;
    color:#111;
    font: normal 13px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    float:left;
}
.contenedor_cliente article img 
{
    float:left;
}

.acordion
{
    padding:0px;
    margin:0px;
    width:100%;
    float:left;

}
.acordion>div>input 
{
  display: none;
}
.acordion>div> label 
{
  background: #EBEBEB;
  border-radius: .25em;
  cursor: pointer;
  display: block;
  margin-bottom: .125em;
  padding: 0px 0px;
  z-index: 20;
  border:1px solid #C5C5C5;
  font-size:13px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.acordion label img
{
    margin: 5px 5px 0px 5px;
}
.acordion>div>label:hover 
{
  
  background-image: linear-gradient(#a5d16f,#c6ed85);
  color:#4E4D4D;
  font-weight:bold;
}
.acordion input:checked + label {
  background-image: linear-gradient(#a5d16f,#c6ed85);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color:#98b219;
  color: #4E4D4D;
  font-weight:bold;
  margin-bottom: 0;

}
.acordion article {
  background: #f7f7f7;
  height:0px;
  overflow:hidden;
  z-index:10;
  
}
.acordion article p {
  padding: 1em;
}
.acordion input:checked ~ article {
 border-bottom-left-radius: .25em;
 border-bottom-right-radius: .25em;
 height: auto;
 margin-bottom: .125em;
 border:1px solid #C5C5C5;
}

.contenedor_buscar_maestros
{
    position: absolute;
    top: 170px;
    left: 25px;
    padding:10px;
    width:1100px;
    height:auto;
    background-color:#EBEBEB;
    border: 1px solid #808080;
    display:none;
}
.contenedor_buscar_maestros article
{
    padding:10px;
    width:530px;
    height:auto;
    float:left;
}
.contenedor_buscar_maestros article div h4
{
    margin:0px;
    padding:0px;
    width:100%;
    color:#111;
    font: normal 13px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    float:left;
}
.contenedor_buscar_maestros article div table
{
    width:100%;
    float:left;
}

.contenedor_hacer_maestro
{
    position: absolute;
    top: 170px;
    left: 550px;
    padding:10px;
    width:auto;
    height:auto;
    background-color:#EBEBEB;
    border: 1px solid #808080;
    display:none;
}
.contenedor_hacer_maestro article
{
    padding:10px;
    width:auto;
    height:auto;
    float:left;
}
.contenedor_hacer_maestro article div h4
{
    margin:0px;
    padding:0px;
    width:70%;
    color:#111;
    font: normal 13px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    float:left;
}