.grid_concepto
{
    margin:5px;
    padding:3px;    
    width:550px;
    height:200px;  
    float:left;
    overflow:scroll;
    border:2px solid #DDD;
}
.resumen_facturado_concepto
{
    margin: 25px;
    padding: 25px;
    position: fixed;
    left: 150px;
    top: 100px;
    z-index: 1002;
    display: none;    
    background-color: white;
    border: 1px solid #808080;    
    width: 850px;
    height: auto;
    border-radius: 5px;
}
.contenedor_controles_facturado
{
    margin: 5px 30px;
    padding: 0px;
    width: 825px;
    float: left;    
}
