/*ASIGNACION DE RECURSOS*/

.header_seccion_asignacion
{
    margin:0px;
    margin-left:25px;    
    margin-top:2px;
    margin-bottom:10px;
    padding:0px;
    height:25px;
    width:99%;   
    float:left;
    border-bottom: 1px solid #DDD;
   
   
}

.header_seccion_asignacion h2
{
    margin:0px; 
    margin-top:5px;       
    padding:0px;
    float:left;
    font-size:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:normal;
}

.columna_filtros_asignacion
{
    margin: 0px;
    padding: 0px;
    padding-left: 3px;
    width: 320px;
    float: left;    
}   

.contenedor_botones_pestaña_filtros_asignacion
{
    margin:0px;
    margin-top:5px;
    margin-left:25px;
    padding:0px;
    width:100%;
    float:left;
      
}
.contenido_tabs_filtros_asignacion
{
    margin:0px;
    margin-left:25px;
    padding:0px;
    float:left;
    width:330px;
    height:352px;
    border:1px solid #DDD;    
}
.contenedor_seccion_unidades_disponibles
{
    margin:0px;    
    margin-left:5px;
    padding:0px;
    width:910px;
    min-height:100px;
    float:left;
    border: 1px solid #DDD;    
}







.resumen_servicios_asignados
{
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 300px;
    top: 200px;
    z-index: 1002;
    display: none;    
    background-color: white;
    border: 1px solid #808080;    
    width: 750px;
    height: auto;
    border-radius: 5px;
}

.header_resumen_servicios_asignados
{
    margin:0px;
    margin-bottom:3px;
    padding:0px;
    width:90%;
    height:50px;
    float:left;
    border-bottom:1px solid #DDD;
}

.header_resumen_servicios_asignados img
{
    margin:0px;
    margin-top:0px;
    margin-left:20px;
    padding:0px;
    float:left;
}

.header_resumen_servicios_asignadosh3
{
    margin:0px;
    margin-top:10px;
    margin-left:5px;
    padding:0px;
    float:left;
    font-size:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:normal;
    text-decoration:underline;
}

.grid_servicios_asignados
{
    margin:5px;
    padding:5px;
    width: 730px;
    min-height:75px;
    float: left;
    border:1px solid #DDD;
}


.contenedor_media_seccion_asignacion_recurso
{
    margin:0px;
    margin-top:5px;
    margin-left:0px;   
    padding:0px;
    width:555px;
    min-height:50px;
    float:left;
    border: 1px solid #DDD;    
}
.contenedor_recursos_asignados
{
    margin:0px;
    margin-top:5px; 
    margin-left:5px;     
    padding:0px;
    width:570px;
    min-height:100px;
    float:left;
    border: 1px solid #DDD;    
}
.contenedor_modal_asignacion_recursos
{
   padding:0px;
   margin:0px;
   z-index:1002; 
   display:none;
   position:fixed;  
   background-color:#FFF; 
   border: 1px solid #808080; 
   left: 100px;
   top: 100px;
   width :1150px; 
   min-height:250px; 
   
}



