body {
background-color: whitesmoke;
margin: 0px;
padding: 0px;
font-family: Calibri, Arial;
font-size: 9pt;
font-weight: normal;
font-style: normal;
font-variant: normal;
text-transform: none;
color: #FFF;
}
header {
height: 40px;
min-width: 100%;
background-image: linear-gradient(#a5d16f,#a5d16f);
}
header h1 {
width: auto;
height: 30px;
margin: 0px;
padding: 5px 10px;
font-family: 'Montserrat', sans-serif; /*font-family: Impact;*/
font-weight: normal;
font-size: 22px;
float: left;
color: #4E4D4D;
}
header h1 b {
color: white;
font-weight: normal;
}
header h2 {
font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
font-size: 12px;
color: white;
margin: 0px;
padding: 0px;
float: none;
}
header h2 b {
color: red;
font-size: 14px;
}
#mapa_sitio {
margin: 0px;
padding: 0px 90px;
width: auto;
float: left;
}
#mapa_sitio a {
padding: 0px;
margin: 0px;
color: black;
text-decoration: none;
}
#mapa_sitio a img {
padding: 0px;
margin: 0px 5px;
border-width: 0px;
}
.mapa_sitio_nodo {
color: #9C9A97;
text-decoration: underline;
}
.mapa_sitio_nodo_raiz {
color: #9C9A97;
font-weight: bold;
text-decoration: underline;
}
.mapa_sitio_nodo_seleccionado {
color: red;
font-weight: bold;
}
#menu_usuario_contenedor {
margin: 0px;
padding: 0px 100px 0px 0px;
width: auto;
float: right;
}
#ContenidoForma {
margin: 0px; /*margin: 0px;*/
padding: 0px; /*padding: 0px;*/
min-height: 435px; /*min-height: 480px;*/
width: 100%; /*width: 95%;*/
background-color: whitesmoke; /*background-color: whitesmoke;*/
color: #000; /*color: #000;*/
float: left; /*float: left;*/
}
footer {
margin: 0px;
padding: 0px;
height: auto;
width: 100%;
background-color: whitesmoke;
float: left;
}
.footer_section_izquierda {
margin: 0px 0px 0px 40px;
padding: 0px;
width: 56%;
height: 100%;
float: left;
}
.footer_section_izquierda p {
margin: 15px 0px 5px 0px;
color: grey;
}
.footer_section_derecha {
margin: 0px;
padding: 0px;
width: 18%;
height: 100%;
float: left;
}
.footer_section_derecha img {
margin: 5px 0px 0px 0px;
}
.footer_menu {
list-style: none;
margin: 0px;
padding: 0px;
}
.footer_menu li {
display: inline;
}
.footer_menu a {
width: auto;
color: grey;
text-decoration: none;
}
.estilo_imagen_encabezado {
float: left;
}