/*RECEPCION DE DOCUMENTOS*/
.encabezado_busqueda
{
    margin:0px;
    padding:0px;    
    width:100%;
    height:100px;
    float:left;    
}


.encabezado_busqueda img
{
    margin:0px;
    margin-top:15px;
    margin-left:10px;
    padding:0px;
    float:left;
}
.encabezado_busqueda h2
{
    margin:0px;
    margin-top:25px;
    margin-right:10px;
    padding:0px;
    float:left;
    font-size:12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:normal;
    
}

.resultado_busqueda
{
    margin:0px;
    margin-top:5px;
    padding:0px;    
    width:100%;
    min-height:350px;
    float:left;
    
}
.resultado_grid_servicio
{
    margin:5px;
    padding:2px;    
    width:550px;
    height:auto;  
    float:left;    
}
.grid_servicio
{
    margin:5px;
    padding:3px;    
    width:540px;
    height:400px;  
    float:left;
    overflow:scroll;
    border:1px solid #DDD;
}
.resultado_grid_documento
{
    margin:5px;
    padding:2px;    
    width:690px;
    height:100%;  
    float:left;   
}
.grid_documento
{
    margin:5px;
    padding:3px;    
    width:680px;
    height:400px;  
    float:left;
    overflow:scroll;
    border:1px solid #DDD; 
}
.header_grid 
{
    margin:0px;
    margin-bottom:3px;
    padding:0px;
    width:100%;
    height:50px;
    float:left;
    border:1px solid #DDD;
}

.header_grid img
{
    margin:0px;
    margin-top:10px;
    margin-left:20px;
    padding:0px;   
    float:left;
}
.header_grid h3
{
    margin:0px;
    margin-top:20px;
    margin-left:12px;
    padding:0px;
    float:left;
    font-size:12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:normal;
    text-decoration:underline;
}

.imagenes_documentos
{
    margin:0px;
    padding:0px;
    width:100%;
    min-height:270px;
    float:left;
    border-bottom:1px solid #DDD;
}
.header_imagenes_documentos 
{
    margin:0px;
    margin-bottom:3px;
    padding:0px;
    width:100%;
    height:50px;
    float:left;
    border:1px solid #DDD;
}
.header_imagenes_documentos img
{
    margin:0px;
    margin-top:0px;
    margin-left:20px;
    padding:0px;   
    float:left;
}
.header_imagenes_documentos h3
{
    margin:0px;
    margin-top:20px;
    margin-left:12px;
    padding:0px;
    float:left;
    font-size:12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:normal;
    text-decoration:underline;
}
.visor_imagen
{
    margin:10px;
    margin-left:40px;
    padding:0px;
    width:200px;
    height: 150px;
    float:left;
    border:20px solid #DDD;
}
.imagenes
{
    margin:5px;
    padding:0px;
    height:200px;
    width:700px;
    float:left;
    border:1px solid #DDD;
    background-color:#FFF;
    overflow:scroll;
}

.filtro_imagen
{
    margin:5px;
    padding:0px;
    height:auto;
    width:250px;
    float:left;
    border:1px solid #DDD;    
}


.resumen_documentos_segmento
{
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 300px;
    top: 200px;
    z-index: 1002;
    display: none;    
    background-color: white;
    border: 1px solid #808080;    
    width: 750px;
    height: auto;
    border-radius: 5px;
}

.header_resumen_documentos_segmento
{
    margin:0px;
    margin-bottom:3px;
    padding:0px;
    width:90%;
    height:50px;
    float:left;
    border-bottom:1px solid #DDD;
}

.header_resumen_documentos_segmento img
{
    margin:0px;
    margin-top:0px;
    margin-left:20px;
    padding:0px;
    float:left;
}

.header_resumen_documentos_segmento h3
{
    margin:0px;
    margin-top:10px;
    margin-left:5px;
    padding:0px;
    float:left;
    font-size:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:normal;
    text-decoration:underline;
}

.grid_documentos_segmento
{
    margin:5px;
    padding:5px;
    width: 730px;
    min-height:75px;
    float: left;
    border:1px solid #DDD;
}


/*ARMADO Y ENVIO DE PAQUETES*/

.contenido_tabs_armado
{
    margin:0px;
    margin-left:10px;
    padding:0px;
    float:left;
    border:1px solid #DDD;
}

.vista_armado_paquetes
{
    margin:0px;
    padding:0px;
    width:100%;
    min-height:400px;
    float:left;
    /*border: 1px solid red;*/
}
.header_vista_armado
{
    margin:0px;
    margin-left:5px;
    margin-bottom:5px;
    margin-top:2px;
    padding:0px;
    width:99%;
    min-height:50px;
    float:left;
    border-bottom: 1px solid #DDD;
}
.header_vista_armado img
{
    margin:0px;
    margin-left:10px;
    padding:0px;
    float:left;
}

.header_vista_armado h2
{
    margin:0px;
    margin-left:10px;
    margin-top:15px;    
    padding:0px;
    float:left;
    font-size:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:normal;
}

.datos_paquete
{
    margin:0px;
    margin-top:5px;
    margin-left:5px;
    padding:0px;
    float:left;
    width:1000px;
    height:150px;
    border: 1px solid #DDD;
}

.armado_paquete
{
    margin:5px;
    padding:0px;
    width:100%;
    min-height:400px;
    float:left;        
}
.documentos_disponibles
{
    margin:0px;
    margin-top:5px;
    padding:0px;
    padding-top:5px;
    width:565px;
    min-height:500px;
    float:left;
    border: 1px solid #DDD;
}
.documentos_agregados
{
    margin:0px;
    margin-top:5px;
    padding:0px;
    padding-top:5px;
    width:565px;
    min-height:500px;
    float:left;
    border: 1px solid #DDD;    
}
.grids_armado_envio
{
    margin:5px;
    padding:5px;
    width: 545px;
    height:450px;
    float: left;
    border:1px solid #DDD;
    overflow:scroll;
}
.columna_botones
{
    margin:5px;
    padding:0px;
    width:110px;
    height:350px;
    float:left;
}
.renglon_botones
{
    margin:0px;
    margin-top:5px;
    margin-left:10px;
    padding:0px;
    width:100px;
    height:30px;
}
.paquete_encontrados
{
    margin:5px;
    padding:0px;
    width:1200px;
    min-height:400px;
    float:left;        
}
.grid_paquetes_encontrados
{
    margin:5px;
    padding:5px;
    width: 1100px;
    height:450px;
    float: left;
    border:1px solid #DDD;
    overflow:scroll;
}


.datos_paquete_recepcion
{
    margin:0px;
    margin-top:5px;
    margin-left:25px;
    padding:0px;
    float:left;
    min-width:650px;
    min-height:200px;
    border: 1px solid #DDD;
}

.documentos_recibir
{
    margin:0px;
    margin-top:5px;
    margin-left:10px;
    padding:0px;
    padding-top:5px;
    width:565px;
    min-height:500px;
    float:left;
    border: 1px solid #DDD;
}



