.liquidacion_servicio {
    font-weight: bold;  
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
    background-color: #a0b7da;
    color: #262626;  
    line-height: 16px;
}
.liquidacion_movimiento {
    font-weight: normal;  
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
    background-color: #dfdfde;
    color: #262626;  
    line-height: 16px;
}
.liquidacion_detalle {
    font-weight: normal;  
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
    background-color: #F0F8FF;
    color: #262626;  
    line-height: 16px;
}
.liquidacion_cobro_recurrente {
    font-weight: normal;  
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
    color: #262626;  
    background-color: #88bad4;
    line-height: 16px;
}
.liquidacion_totales_liquidacion {
    font-weight: bold;  
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 14px;
    color: #262626;  
    background-color : #d7c6cf;
    line-height: 16px;
}
.pago_positivo {
    font-weight: normal;  
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    color: #262626;  
    line-height: 16px;
}
.pago_negativo {
    font-weight: normal;  
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 12px;
    background-color: #FFB5C2;
    color: #262626;  
    line-height: 16px;
}