<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <add name="ReportViewerWebControl" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension="tff" mimeType="application/font-tff" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <!--<rule name="AZTLAN http to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/SAT_AZTLAN/{R:1}" redirectType="SeeOther" />
        </rule>-->
        <!--<rule name="NEXTIA http to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/SAT_NEXTIA/{R:1}" redirectType="SeeOther" />
        </rule>-->
      </rules>
    </rewrite>
  </system.webServer>
  <appSettings>
    <add key="FirebaseCM_URL" value="https://fcm.googleapis.com/fcm/send" />
    <add key="FirebaseCM_SAT_DriverWebKey" value="AIzaSyCDTRmUTyCb5N_PqoF0uhOYfr749ACS7bI" />
    <add key="DistanceMatrixAPI_URL" value="https://maps.googleapis.com/maps/api/distancematrix/" />
    <add key="DistanceMatrixAPI_SAT_DriverWebKey" value="AIzaSyA6qTOvdPMx6i64HmPqXVmfZg5sl3629T4" />
    <add key="StaticMapAPI_URL" value="https://maps.googleapis.com/maps/api/staticmap" />
    <add key="StaticMapAPI_SAT_DriverWebKey" value="AIzaSyDeLWjN5vYmTSfXHaV697DqY5cKPPI6UbU" />
    <add key="GeocodingAPI_URL" value="https://maps.googleapis.com/maps/api/geocode" />
    <add key="GeocodingAPI_SAT_DriverWebKey" value="AIzaSyD86xp11SdE0unZ1D9RsIPUVX85OErlRy4" />
    <!--<add key="GeocodingAPI_SAT_DriverWebKey" value="AIzaSyD86xp11SdE0unZ1D9RsIPUVX85OErlRy4" />-->
    <!--<add key="GeocodingAPI_SAT_DriverWebKey" value="AIzaSyDTHYV0s-3h9k-MPKM27AKzhR6SGfPgrHc" />-->
    <add key="MapsEmbedAPI" value="AIzaSyBMhe7zy_AdqjpjLBIp9a5Ow8uEKE7NCEQ" />
    <add key="FormatoFechaReportes" value="yyyyMMdd HH:mm" />
    <!--<add key="MapsJavaScriptAPI_AZTLAN" value="AIzaSyBH8LH8WQEO7Y9BqT62mCWWV0WPYKQnaCY" />-->
    <!--<add key="MapsJavaScriptAPI_NEXTIA" value="AIzaSyBMhe7zy_AdqjpjLBIp9a5Ow8uEKE7NCEQ" />-->
    <add key="MapsJavaScriptAPI" value="AIzaSyBMhe7zy_AdqjpjLBIp9a5Ow8uEKE7NCEQ" />

    <!-- Configuración SSRS para el ReportViewer - LOCAL -->
    <add key="ServidorSSRS" value="http://192.168.1.1:8080/ReportServer" />
    <add key="UsuarioSSRS" value="Administrador" />
    <add key="DominioSSRS" value="" />
    <add key="ContrasenaSSRS" value="psswrd14TECTOS" />

    <!-- Configuración SSRS para el ReportViewer - DC10058-->
    <!--<add key="ServidorSSRS" value="http://38.110.58.15/ReportServer" />
    <add key="UsuarioSSRS" value="Administrator" />
    <add key="DominioSSRS" value="" />
    <add key="ContrasenaSSRS" value="96r*SE#R*rNaJ%F" />-->

    <!-- Guardado a memoria RAM -->
    <add key="ChartImageHandler" value="storage=memory;deleteAfterServicing=true;" />
    <!-- Guardado a disco en versión local -->
    <!--<add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />-->
    <!-- Guardado a disco en versión deploy -->
    <!--<add key="ChartImageHandler" value="storage=file;timeout=12000;dir=E:\HostingSpaces\tectos\entregando.com.mx\wwwroot\tempfolder"/>-->

    <!-- Configuraciones SAT -->
  </appSettings>
  <connectionStrings>
    <!-- Conexión a servidor Tectos2014 BD Pruebas AZTLAN - SQL17 -->
    <add name="TECTOS_SAT_db" connectionString="server=TECTOS2014\TECTOS_SERVER_17; database=TECTOS_SAT_AZTLAN_db; uid=TECTOSAdmin; pwd=psswrd18TECTOS;" />
    <!-- Conexión a servidor Tectos2014 BD Pruebas NEXTIA - SQL17 -->
    <!--<add name="TECTOS_SAT_db" connectionString="server=TECTOS2014\TECTOS_SERVER_17; database=TECTOS_SAT_NEXTIA_db; uid=TECTOSAdmin; pwd=psswrd18TECTOS;" />-->
    <!-- Conexión a servidor Serveris BD Producción AZTLAN - dc10058 -->
    <!--<add name="TECTOS_SAT_db" connectionString="server=38.110.58.15; database=TECTOS_SAT_AZTLAN_db; uid=TECTOSAdmin; pwd=psswrd20TECTOS;" />-->
    <!-- Conexión a servidor Serveris BD Producción NEXTIA - dc10058 -->
    <!--<add name="TECTOS_SAT_db" connectionString="server=38.110.58.15; database=TECTOS_SAT_NEXTIA_db; uid=TECTOSAdmin; pwd=psswrd20TECTOS;" />-->
    
  </connectionStrings>
  <system.web>
    <!-- Idioma español México como predeterminado para fechas y moneda -->
    <globalization uiCulture="es" culture="es-MX" />
    <httpRuntime maxRequestLength="1073741824" executionTimeout="900" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <!--
            La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
        -->
    <!-- AUTENTICACIÓN DE FORMAS-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="128" defaultUrl="~/Principal.aspx" cookieless="AutoDetect" protection="All" slidingExpiration="true" />
      <!-- defaultUrl="~/Principal.aspx" cookieless="AutoDetect" protection="All" slidingExpiration="true"-->
    </authentication>
    <!-- Modo de Sesión -->
    <!-- Local -->
    <sessionState mode="InProc" cookieless="false" timeout="120" />
    <!-- Produción -->
    <!--<sessionState mode="StateServer" cookieless="false" timeout="128" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="120"/>
    <machineKey validationKey="3980FFDE580D3A9762C42A2155C64B476377D917C2F8CFD21C264C28C365EF9D5A16EC1E542C652C40F41FB6076EA32701F48B0826722E3BBE7AF2180B41E4BE,IsolateApps" decryptionKey=" 9D8A2B78A52EB215FBD54A0C2D28B23906192C76E5E4E5C0,IsolateApps"/>-->
    <!-- SE NIEGA EL ACCESO A LOS USUARIOS NO LOGUEADOS -->
    <authorization>
      <deny users="?" />
      <allow users="*" />
    </authorization>
    <!--
            La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.        
        -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network userName="tectos_mailer@tectos.com.mx" password="psswrd14TECTOS" />
      </smtp>
    </mailSettings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Configurando direccionamiento personalizado de ensamblados a los que depende la aplicación -->
      <dependentAssembly>
        <!-- Tipos de SQL Server Default V10.0.0.0, requerida V11.0.0.0 -->
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="10.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.0.0" newVersion="15.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!--<system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>-->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsultaCFDIService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IDespacho" />
        <binding name="BasicHttpBinding_IGlobal" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://consultaqr.facturaelectronica.sat.gob.mx/ConsultaCFDIService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsultaCFDIService" contract="ConsultaPublicacionCFDI.IConsultaCFDIService" name="BasicHttpBinding_IConsultaCFDIService" />
      <endpoint address="https://www.administratransportefacil.com/CENTRAL_WCF/Despacho.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDespacho" contract="DespachoCentral.IDespacho" name="BasicHttpBinding_IDespacho" />
      <endpoint address="https://www.administratransportefacil.com/CENTRAL_WCF/Global.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGlobal" contract="GlobalCentral.IGlobal" name="BasicHttpBinding_IGlobal" />
    </client>
  </system.serviceModel>

  <!-- Carpeta que no pasa por Autenticación. -->
  <location path="Externa">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- 
        La sección system.webServer es necesaria para ejecutar ASP.NET AJAX en Internet
        Information Services 7.0.  No es necesaria para la versión anterior de IIS.
  -->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
